<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro"
       name="dual_viper" >

  <!-- Robot -->
  <xacro:include filename="$(find dual_robot_description)/urdf/robot.urdf.xacro" />

  <!-- arm -->
  <xacro:vx300s prefix="a_bot_"/>
  <xacro:vx300s prefix="b_bot_"/>

  <link name="world"/>

  <joint name="a_bot_to_world" type="fixed">
    <parent link="world"/>
    <child link="a_bot_base_link"/>
    <origin xyz="0 -0.1778 0" />
  </joint>

  <joint name="b_bot_to_world" type="fixed">
    <parent link="world"/>
    <child link="b_bot_base_link"/>
    <origin xyz="0 0.1778 0" />
  </joint>

  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
      <legacyModeNS>true</legacyModeNS>
    </plugin>
  </gazebo>

</robot>