<launch>

  <arg name="robot_name"                        default=""/>
  <arg name="mode_configs"                      default="$(find dual_robot_control)/config/modes.yaml"/>
  <arg name="motor_configs"                     default="$(find dual_robot_control)/config/$(arg robot_name).yaml"/>
  <arg name="hardware_configs_ns"               default=""/>
  <arg name="load_configs"                      default="true"/>

  <rosparam file="$(find dual_robot_control)/config/$(arg robot_name)controllers.yaml" command="load" ns="$(arg robot_name)"/>
  <rosparam file="$(find dual_robot_control)/config/$(arg hardware_configs_ns)hardware.yaml" command="load" ns="$(arg robot_name)"/>

  <node
    name="xs_sdk"
    pkg="interbotix_xs_sdk"
    type="xs_sdk"
    output="screen"
    ns="$(arg robot_name)">
    <param name="motor_configs"                   value="$(arg motor_configs)"/>
    <param name="mode_configs"                    value="$(arg mode_configs)"/>
    <param name="load_configs"                    value="$(arg load_configs)"/>
    <remap from="/$(arg robot_name)/joint_states" to="/joint_states"/>
  </node>

  <node
    name="controller_spawner"
    pkg="controller_manager"
    type="controller_manager"
    respawn="false"
    output="screen"
    ns="$(arg robot_name)"
    args="spawn arm_controller ">
    <remap from="/$(arg robot_name)/joint_states" to="/joint_states"/>
  </node>


  <node
    name="xs_hardware_interface"
    pkg="interbotix_xs_ros_control"
    type="xs_hardware_interface"
    output="screen"
    ns="$(arg robot_name)">
    <remap from="/$(arg robot_name)/joint_states" to="/joint_states"/>
  </node>

</launch>
