<launch>


  <arg name="robot_a_name"                        default="robot_a_"/>
  <arg name="robot_b_name"                        default="robot_b_"/>
  <arg name="world_name"                        default="$(find dual_robot_gazebo)/worlds/empty.world"/>
  <arg name="gui"                               default="true"/>
  <arg name="debug"                             default="false"/>
  <arg name="paused"                            default="true"/>
  <arg name="recording"                         default="false"/>
  <arg name="use_sim_time"                      default="true"/>
  <arg name="dof"                               default="6"/>

  <arg name="robot_model"                       default=""/>
  <arg name="robot_name"                        default="$(arg robot_model)"/>
  <arg name="base_link_frame"                   default="base_link"/>
  <arg name="show_ar_tag"                       default="false"/>
  <arg name="show_gripper_bar"                  default="true"/>
  <arg name="show_gripper_fingers"              default="true"/>
  <arg name="use_world_frame"                   default="true"/>
  <arg name="external_urdf_loc"                 default=""/>
  <arg name="use_rviz"                          default="true"/>
  <arg name="load_gazebo_configs"               default="false"/>
  <arg name="use_joint_pub"                     default="false"/>
  <arg name="use_joint_pub_gui"                 default="false"/>
  <arg name="rate"                              default="10"/>
  <arg name="source_list"                       default="[]"/>
  <arg name="rvizconfig"                        default="$(find interbotix_xsarm_descriptions)/rviz/xsarm_description.rviz" />
  <arg name="model"                             default="$(find interbotix_xsarm_descriptions)/urdf/$(arg robot_model).urdf.xacro
                                                         robot_name:=$(arg robot_name)
                                                         base_link_frame:=$(arg base_link_frame)
                                                         show_ar_tag:=$(arg show_ar_tag)
                                                         show_gripper_bar:=$(arg show_gripper_bar)
                                                         show_gripper_fingers:=$(arg show_gripper_fingers)
                                                         use_world_frame:=$(arg use_world_frame)
                                                         external_urdf_loc:=$(arg external_urdf_loc)
                                                         load_gazebo_configs:=$(arg load_gazebo_configs)"/>

  <env name="GAZEBO_RESOURCE_PATH"              value="$(find dual_robot_gazebo)"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name"                        value="$(arg world_name)"/>
    <arg name="gui"                               value="$(arg gui)" />
    <arg name="debug"                             value="$(arg debug)" />
    <arg name="paused"                            value="$(arg paused)"/>
    <arg name="recording"                         value="$(arg recording)"/>
    <arg name="use_sim_time"                      value="$(arg use_sim_time)"/>
  </include>


<group ns="robot_a_"> <!-- unique name to create different topics-->
  <param name="tf_prefix" value="robot_a_tf" /> <!-- unique tf_prefix -->
   <include file="$(find dual_robot_gazebo)/launch/robot_launcher.launch">
    <arg name="init_pose" value=" -y 0.5  "/>
    <arg name="robot_name" value="robot_a_"/>

   </include>
</group>

<group ns="robot_b_"> <!-- unique name to create different topics-->
  <param name="tf_prefix" value="robot_b_tf" /> <!-- unique tf_prefix -->
   <include file="$(find dual_robot_gazebo)/launch/robot_launcher.launch">
    <arg name="init_pose" value="-y -0.5 " />
    <arg name="robot_name" value="robot_b_"/>

   </include>
</group>









</launch>
