<launch>


<arg name="robot_name"/>
<arg name="init_pose"/>


  <!-- Send robot urdf to param server -->
  <!-- load URDF to the parameter server-->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find dual_robot_description)/urdf/$(arg robot_name).urdf.xacro" />

  <!--Spawn Robot-->

  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model"
        args="$(arg init_pose) -urdf -param robot_description -model $(arg robot_name)"  output="screen" />


 <!-- <rosparam file="$(find home_ur5_gazebo)/controller/ur5_controller.yaml"
            command="load" />


  <node name="robot_controllers" pkg="controller_manager" type="spawner"
        output="$(arg DEBUG)"
        args="joint_state_controller trajectory_controller gripper_controller rail_controller"/> -->


  <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node> -->
  <!-- TF -->
  <node pkg="robot_state_publisher" type="robot_state_publisher"
        name="state_publisher">
    <param name="publish_frequency"  type="double" value="50" />
<!-- you want to get rid of this line in order to do two arms. This sets tf_prefix to empty for any case
     We need to set the tf_prefix to different robots ( robot 1 robot 2 ) -->
    <!--<param name="tf_prefix" type="string" value="" /> -->
  </node>



</launch>