<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro"
    name="environment">

    <link name="panel_1">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="0.02 0.762 0.6096" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="0.02 0.762 0.6096" />
            </geometry>
        </collision>
    </link>

    <link name="panel_2">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="0.4572 0.02 0.6096" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="0.4572 0.02 0.6096" />
            </geometry>
        </collision>
    </link>

    <link name="ground">
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="5 5 0.02" />
            </geometry>
        </collision>
    </link>

    <joint name="panel_joint" type="fixed">
        <parent link="panel_1" />
        <child link="panel_2" />
        <origin xyz="-0.2286 -0.391 0" />
    </joint>

    <joint name="panel_to_world" type="fixed">
        <parent link="world" />
        <child link="panel_1" />
        <origin xyz="0.5334 -0.0381 0.3048" />
    </joint>

    <joint name="ground_to_world" type="fixed">
        <parent link="world" />
        <child link="ground" />
        <origin xyz="0 0 -0.01" />
    </joint>

</robot>